@model Sud.Models.Order
@{
    ViewData["Title"] = "FilterResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h1>Order Details </h1>
    <div>
        <h4>Order</h4>
        <hr />
        <div class="container">
            <div class="row">
                <dl class="col-lg-6">
                    <div class="row text-white">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.FirstName)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.FirstName)
                        </dd>
                    </div>
                    <div class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.LastName)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.LastName)
                        </dd>
                    </div>
                    <div class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Address)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Address.StreetAddress)
                        </dd>
                    </div>
                    <div class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.PickUpDay)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.PickUpDay)
                        </dd>
                    </div>
                    <div class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.DropOffDay)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.DropOffDay)
                        </dd>
                    </div>
                    <input type="hidden" asp-for="Address.Latitude" />
                    <input type="hidden" asp-for="Address.Longitude" />
                    @if (ViewContext.HttpContext.User.IsInRole("Employee"))
                    {
                        <a class="btn btn-light" asp-action="ConfirmCleaning" asp-route-id="@Model.OrderId" value="submit">Order is being Cleaned</a>
                    }
                    <a asp-action="Details" asp-route-id="@Model.OrderId" asp-controller="Orders" class="btn btn-light">Details</a>
                </dl>
            </div>
        </div>
    </div>

    <div>
        <a asp-action="Index" class="btn btn-light">View Today's Orders</a>
        <a asp-action="ViewAllOrders" class="btn btn-light">View All Orders</a>
    </div>
</div>