@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sud</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">Sudsy</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li class="nav-item text-primary">
                                    @await Component.InvokeAsync("ServiceMenu")
                                </li>

                                @if (SignInManager.IsSignedIn(User))
                                {
                                    //can revert the 3 links below and make them for @if (ViewContext.HttpContext.User.IsInRole("Customer"))
                                    //{
                                    <li class="nav-item">
                                        <a asp-controller="Reviews" asp-action="EmployeeIndex" class="nav-link text-white"> Reviews </a>
                                    </li>
                                    ////something is broken with orders index atm for employees
                                    <li class="nav-item">
                                        <a asp-controller="Orders" asp-action="Index" class="nav-link text-white"> Past Orders </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="ShoppingCart" asp-action="Index" class="nav-link text-white">Shopping Cart</a>
                                    </li>
                                    //}
                                    @if (ViewContext.HttpContext.User.IsInRole("Employee"))
                                    {
                                        <li class="nav-item">
                                            <a asp-controller="Services" asp-action="Create" class="nav-link text-white">Add New Service</a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-controller="Clothes" asp-action="Create" class="nav-link text-white">Add New Item</a>
                                        </li>
                                    }
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <a asp-controller="Home" asp-action="Info" class="nav-link text-white"> How Sudys works! </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Home" asp-action="Contact" class="nav-link text-white"> Contact </a>
                                    </li>
                                }
                                @await Component.InvokeAsync("ShoppingCartSummary")
                            </ul>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div>
        <footer id="footer"class="border-top footer text-white bg-primary">
            <a asp-area="" asp-controller="Home" asp-action="About" class="text-white"><b>About the project</b></a>
            &copy; Radtke, Nicholas 2020, viewed on @DateTime.Now.Date
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    @RenderSection("stripe", required: false)
</body>
</html>
