@model Sud.Models.Order

@{
    var pageName = "Details";
    ViewData["Title"] = pageName;
}
<div class="jumbotron">
    <h2>Order @pageName</h2>
    <hr />
    <div>
        <h4>Order Status </h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="@Html.DisplayFor(model => model.StatusBar)" aria-valuemin="0" aria-valuemax="100" style="width:@Html.DisplayFor(model => model.StatusBar)%">
                @Html.DisplayFor(model => model.StatusBar) % Complete
            </div>
        </div>
    </div>
    <dl class="row">
        <div class="column text-white">
            <h3>Order Details</h3>
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Address.StreetAddress)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.OrderPlaced)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.OrderPlaced)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.User)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.User.Email)
            </dd>
            <dt>
                Pick up day
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PickUpDay)
            </dd>
            <dt>
                Drop off day
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DropOffDay)

            </dd>
        </div>
        <div class="column text-white">
            <h3>Order items</h3>
            @{double subtotal = 0;}
            @foreach (OrderDetail orderDetail in ViewBag.OrderDetailsList)
            {
                <dd>
                    @Html.DisplayFor(model => orderDetail.Clothes.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => orderDetail.Amount)
                </dt>
                <dd>
                    @Html.DisplayFor(model => orderDetail.Amount)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => orderDetail.Price)
                </dt>
                <dd>
                    @orderDetail.Price.ToString("c")
                </dd>

                <dt>
                    Sub Total
                </dt>
                <dd>
                    @{subtotal = orderDetail.Price * orderDetail.Amount;}
                    @subtotal.ToString("c")
                </dd>
            }
        </div>
        <div class="column text-white">
            <dt>
                <h4>Total Price</h4>
            </dt>
            <dd>
                @Model.OrderTotal.ToString("c")
            </dd>
            <br />
            <dt>
                <h4>Payment Amount</h4>
            </dt>
            <dd>
                @Model.PaymentAmount.ToString("c")
            </dd>
            <dt>
                <div>
                    <a class="btn btn-light" asp-action="Details" asp-controller="ImageModels" asp-route-id="@Model.ImageId">Uploaded Image</a>
                </div>
            </dt>
        </div>
    </dl>
    <div>
    <a class="btn btn-light" asp-action="Index" asp-controller="Home">Back to Order list</a>
</div>
</div>