@model Sud.Models.Customer

@{
    ViewData["Title"] = "Details";
}
<body>
    <div class="jumbotron">
        <h1 class="text-light">Welcome, @Html.DisplayFor(model => model.FirstName)</h1>


        <div class="container">
            <div class="row">
                <div class="column">
                    <form asp-action="Edit" asp-route-id="@Model.Id" method="get">
                        <button type="submit" class="btn btn-light">Edit Account information</button>
                    </form>
                </div>
                <div class="column">
                    <a asp-action="Index" asp-controller="Orders" class="btn btn-light">Past Orders</a>
                </div>
                <div class="column">
                    <a asp-action="Index" asp-controller="Reviews" class="btn btn-light">Past Reviews</a>
                </div>
            </div>
        </div>
        <div>
            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
        </div>
    </div>
</body>